[package]
name    = "check-guide"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
ibc-relayer-cli = { path = "../../crates/relayer-cli" }
clap            = "3.2"
lazy_static     = "1.4.0"
mdbook-template = "1.1.0"
regex           = "1"
walkdir         = "2.3.3"

