[package]
name = "check-guide"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ibc-relayer-cli = { version = "1.3.0", path = "../../crates/relayer-cli" }
clap            = "3.2"
lazy_static     = "1.4.0"
mdbook-template = "1.1.0"
regex           = "1"
walkdir         = "2.3.2"
