- Verify the client consensus proof against the client's consensus state root and not the host's state root
  ([#1745](https://github.com/informalsystems/ibc-rs/issues/1745))