- Fix consensus proof verification
  ([#1745](https://github.com/informalsystems/ibc-rs/issues/1745))