[package]
name       = "ibc-integration-test"
version    = "0.20.0"
edition    = "2021"
license    = "Apache-2.0"
readme     = "README.md"
keywords   = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
homepage   = "https://hermes.informal.systems/"
repository = "https://github.com/informalsystems/hermes"
authors    = ["Informal Systems <hello@informal.systems>"]

description = """
  Integration tests for IBC Relayer
"""

[dependencies]
ibc-relayer-types  = { path = "../../crates/relayer-types" }
ibc-relayer        = { path = "../../crates/relayer" }
ibc-relayer-cli    = { path = "../../crates/relayer-cli" }
ibc-proto          = { version = "0.21.0" }
ibc-test-framework = { path = "../test-framework" }
tendermint         = { version = "=0.25.0" }
tendermint-rpc     = { version = "=0.25.0", features = ["http-client", "websocket-client"] }

http = "0.2.8"
prost = { version = "0.11" }
serde_json = "1"
time = "0.3"
toml = "0.5"
tonic = { version = "0.8", features = ["tls", "tls-roots"] }
serde = "1.0.145"

[features]
default = []
example = []
manual = []
ordered = []
ica = []
ics29-fee = []
experimental = []
mbt = []

[[bin]]
name = "test_setup_with_binary_channel"
doc = true

[dev-dependencies]
tempfile = "3.3.0"
