[package]
name       = "ibc-integration-test"
version    = "0.19.0"
edition    = "2021"
license    = "Apache-2.0"
readme     = "README.md"
keywords   = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
homepage   = "https://hermes.informal.systems/"
repository = "https://github.com/informalsystems/ibc-rs"
authors    = ["Informal Systems <hello@informal.systems>"]

description = """
  Integration tests for IBC Relayer
"""

[dependencies]
ibc             = { path = "../../crates/modules" }
ibc-relayer     = { path = "../../crates/relayer" }
ibc-relayer-cli = { path = "../../crates/relayer-cli" }
ibc-proto       = { version = "0.20.1" }
ibc-test-framework = { path = "../test-framework" }
tendermint      = { version = "=0.25.0" }
tendermint-rpc  = { version = "=0.25.0", features = ["http-client", "websocket-client"] }

serde_json = "1"
time = "0.3"
toml = "0.5"
serde = "1.0.145"

[features]
default = []
example = []
manual = []
ordered = []
ica = []
experimental = []
mbt = []

[[bin]]
name = "test_setup_with_binary_channel"
doc = true

[dev-dependencies]
tempfile = "3.3.0"
