[package]
name       = "ibc-integration-test"
version    = "0.22.0"
edition    = "2021"
license    = "Apache-2.0"
readme     = "README.md"
keywords   = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
homepage   = "https://hermes.informal.systems/"
repository = "https://github.com/informalsystems/hermes"
authors    = ["Informal Systems <hello@informal.systems>"]
rust-version = "1.65"
description = """
  Integration tests for IBC Relayer
"""

[dependencies]
ibc-relayer-types  = { path = "../../crates/relayer-types" }
ibc-relayer        = { path = "../../crates/relayer" }
ibc-relayer-cli    = { path = "../../crates/relayer-cli" }
ibc-relayer-framework     = { path = "../../crates/relayer-framework" }
ibc-relayer-runtime     = { path = "../../crates/relayer-runtime" }
ibc-relayer-cosmos     = { path = "../../crates/relayer-cosmos" }
ibc-proto          = { version = "0.24.1" }
ibc-test-framework = { path = "../test-framework" }

async-trait = "0.1.56"
http = "0.2.8"
prost = { version = "0.11" }
serde_json = "1"
time = "0.3"
tokio = "1.19.2"
toml = "0.5"
tonic = { version = "0.8", features = ["tls", "tls-roots"] }
serde = "1.0.149"
opentelemetry = { version = "0.17.0", features = ["metrics"] }

[features]
default = []
example = []
manual = []
ordered = []
ica = []
ics29-fee = []
experimental = []
mbt = []
forward-packet = []
ics31 = []

[[bin]]
name = "test_setup_with_binary_channel"
doc = true

[dev-dependencies]
tempfile = "3.3.0"
