[package]
name         = "ibc-relayer-rest"
version      = "0.20.0"
authors      = ["Informal Systems <hello@informal.systems>"]
edition      = "2021"
license      = "Apache-2.0"
readme       = "README.md"
keywords     = ["ibc", "rest", "api", "cosmos", "tendermint"]
homepage     = "https://hermes.informal.systems/"
repository   = "https://github.com/informalsystems/hermes"
rust-version = "1.65"
description  = """
  Rust implementation of a RESTful API server for Hermes
"""

[dependencies]
ibc-relayer-types = { version = "0.20.0", path = "../relayer-types" }
ibc-relayer       = { version = "0.20.0", path = "../relayer" }

crossbeam-channel = "0.5"
rouille           = "3.6"
serde             = "1.0"
tracing           = "0.1"

[dev-dependencies]
serde_json = "1.0.89"
toml       = "0.5.9"
ureq       = "2.5.0"
