# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Last resort
*       @adizere @ancazamfir @romac

modules/ @hu55a1n1 @plafer

tools/ @soareschen

docs/ @seanchen1991 @adizere

guide/ @seanchen1991

relayer-cli/ @mzabaluev @romac

ci/ @mzabaluev @soareschen

relayer/ @adizere @romac @seanchen1991