[package]
name = "relayer-modules"
version = "0.1.0"
edition = "2018"
authors = [
  "Anca Zamfir <anca@interchain.io>",
  "Romain Ruetschi <romain@informal.systems>"
]

[features]
# Default features
default = ["paths-cosmos"]

# In IBC queries, use paths as defined in the Cosmos-SDK Go implementation, rather than in the ICS.
paths-cosmos = []

[dependencies]
tendermint = { git = "https://github.com/interchainio/tendermint-rs.git" }

anomaly = "0.2.0"
thiserror = "1.0.11"
serde_derive = "1.0.104"
serde = "1.0.104"
