[package]
name       = "ibc"
version    = "0.0.3"
edition    = "2018"
license    = "Apache-2.0"
readme     = "README.md"
keywords   = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
repository = "https://github.com/informalsystems/ibc-rs"
authors    = [
  "Informal Systems <hello@informal.systems>"
]

description = """
    Implementation of the Inter-Blockchain Communication Protocol (IBC).
"""

[dependencies]
tendermint-proto = "0.1.0"

# Proto definitions for all IBC-related interfaces, e.g., connections or channels.
ibc-proto = { version = "0.3.0", path = "../proto" }

anomaly = "0.2.0"
chrono = "0.4"
thiserror = "1.0.11"
serde_derive = "1.0.104"
serde = "1.0.104"
serde_json = "1"
tracing = "0.1.13"
prost = "0.6.1"
prost-types = "0.6.1"
bytes = "0.5.5"
dyn-clonable = "0.9.0"

[dependencies.tendermint]
version = "0.16.0"
git = "https://github.com/informalsystems/tendermint-rs"
branch = "romac/light-client-ibc"

[dependencies.tendermint-rpc]
version = "0.16.0"
features = ["http-client", "websocket-client"]
git = "https://github.com/informalsystems/tendermint-rs"
branch = "romac/light-client-ibc"

[dev-dependencies]
tokio = { version = "0.2", features = ["macros"] }
subtle-encoding = { version = "0.5" }
