[package]
name       = "ibc"
version    = "0.7.3"
edition    = "2018"
license    = "Apache-2.0"
readme     = "README.md"
keywords   = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
repository = "https://github.com/informalsystems/ibc-rs"
authors    = ["Informal Systems <hello@informal.systems>"]

description = """
    Implementation of the Inter-Blockchain Communication Protocol (IBC).
    This crate comprises the main data structures and on-chain logic.
"""

[features]
default = ["std", "eyre_tracer"]
std = ["flex-error/std"]
eyre_tracer = ["flex-error/eyre_tracer"]
# This feature grants access to development-time mocking libraries, such as `MockContext` or `MockHeader`.
# Depends on the `testgen` suite for generating Tendermint light blocks.
mocks = [ "tendermint-testgen", "sha2" ]

[dependencies]
# Proto definitions for all IBC-related interfaces, e.g., connections or channels.
ibc-proto = { version = "0.11.0", path = "../proto" }
ics23 = { version = "0.6.5", default-features = false }
chrono = { version = "0.4.19", default-features = false }
thiserror = { version = "1.0.29", default-features = false }
serde_derive = { version = "1.0.104", default-features = false }
serde = { version = "1.0.130", default-features = false }
serde_json = { version = "1", default-features = false }
tracing = { version = "0.1.29", default-features = false }
prost = { version = "0.7", default-features = false }
prost-types = { version = "0.7", default-features = false }
bytes = { version = "1.1.0", default-features = false }
safe-regex = { version = "0.2.4", default-features = false }
subtle-encoding = { version = "0.5", default-features = false }
sha2 = { version = "0.9.8", default-features = false, optional = true }
flex-error = { version = "0.4.3", default-features = false }

[dependencies.tendermint]
version = "=0.22.0"

[dependencies.tendermint-proto]
version = "=0.22.0"

[dependencies.tendermint-testgen]
version = "=0.22.0"
optional = true

[dev-dependencies]
env_logger = "0.9.0"
tracing-subscriber = "0.2.24"
test-env-log = { version = "0.2.7", features = ["trace"] }
modelator = "0.2.1"
tendermint-rpc = { version = "=0.22.0", features = ["http-client", "websocket-client"] }
tendermint-testgen = { version = "=0.22.0" } # Needed for generating (synthetic) light blocks.
sha2 = { version = "0.9.8" }

[[test]]
name = "mbt"
path = "tests/mbt.rs"
required-features = ["mocks"]
