[package]
name         = "ibc"
version      = "0.10.0"
edition      = "2021"
license      = "Apache-2.0"
readme       = "README.md"
keywords     = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
repository   = "https://github.com/informalsystems/ibc-rs"
authors      = ["Informal Systems <hello@informal.systems>"]
rust-version = "1.57"
description  = """
    Implementation of the Inter-Blockchain Communication Protocol (IBC).
    This crate comprises the main data structures and on-chain logic.
"""

[package.metadata.docs.rs]
all-features = true

[features]
default = ["flex-error/std", "flex-error/eyre_tracer"]

# This feature grants access to development-time mocking libraries, such as `MockContext` or `MockHeader`.
# Depends on the `testgen` suite for generating Tendermint light blocks.
mocks = ["tendermint-testgen"]

[dependencies]
# Proto definitions for all IBC-related interfaces, e.g., connections or channels.
ibc-proto = { version = "0.14.0", path = "../proto" }
ics23 = { version = "0.6.7", default-features = false }
time = { version = "0.3", default-features = false }
thiserror = { version = "1.0.30", default-features = false }
serde_derive = { version = "1.0.104", default-features = false }
serde = { version = "1.0", default-features = false }
serde_json = { version = "1", default-features = false }
tracing = { version = "0.1.29", default-features = false }
prost = { version = "0.9", default-features = false }
prost-types = { version = "0.9", default-features = false }
bytes = { version = "1.1.0", default-features = false }
safe-regex = { version = "0.2.4", default-features = false }
subtle-encoding = { version = "0.5", default-features = false }
sha2 = { version = "0.10.1", default-features = false }
flex-error = { version = "0.4.4", default-features = false }

[dependencies.tendermint]
version = "=0.23.4"

[dependencies.tendermint-proto]
version = "=0.23.4"

[dependencies.tendermint-light-client]
version = "=0.23.4"
default-features = false

[dependencies.tendermint-testgen]
version = "=0.23.4"
optional = true

[dev-dependencies]
env_logger = "0.9.0"
tracing-subscriber = { version = "0.3.5", features = ["fmt", "env-filter", "json"]}
test-log = { version = "0.2.8", features = ["trace"] }
modelator = "0.4.1"
sha2 = { version = "0.10.1" }
tendermint-rpc = { version = "=0.23.4", features = ["http-client", "websocket-client"] }
tendermint-testgen = { version = "=0.23.4" } # Needed for generating (synthetic) light blocks.

[[test]]
name = "mbt"
path = "tests/mbt.rs"
required-features = ["mocks"]
