[workspace]

resolver = "2"

members = [
    "crates/relayer",
    "crates/relayer-types",
    "crates/relayer-cli",
    "crates/relayer-rest",
    "crates/telemetry",
    "crates/chain-registry",
    "tools/integration-test",
    "tools/test-framework",
    "tools/check-guide",
    "tools/query-events",
]

[patch.crates-io]
ibc-proto = { git = "https://github.com/cosmos/ibc-proto-rs.git", branch = "mikhail/explicit-tendermint-core-ver" }
tendermint              = { git = "https://github.com/informalsystems/tendermint-rs", branch = "mikhail/multi-tc-version-support" }
tendermint-rpc          = { git = "https://github.com/informalsystems/tendermint-rs", branch = "mikhail/multi-tc-version-support" }
tendermint-proto        = { git = "https://github.com/informalsystems/tendermint-rs", branch = "mikhail/multi-tc-version-support" }
tendermint-light-client = { git = "https://github.com/informalsystems/tendermint-rs", branch = "mikhail/multi-tc-version-support" }
tendermint-light-client-verifier = { git = "https://github.com/informalsystems/tendermint-rs", branch = "mikhail/multi-tc-version-support" }
tendermint-testgen      = { git = "https://github.com/informalsystems/tendermint-rs", branch = "mikhail/multi-tc-version-support" }
