[workspace]

resolver = "2"

members = [
    "crates/ibc-chain-registry",
    "crates/modules",
    "crates/relayer",
    "crates/relayer-cli",
    "crates/relayer-rest",
    "crates/telemetry",
    "tools/integration-test",
    "tools/test-framework",
    "tools/check-guide",
]

exclude = [
    "ci/no-std-check",
]

[patch.crates-io]
ibc-proto = { git = "https://github.com/hu55a1n1/ibc-proto" }
# tendermint              = { git = "https://github.com/informalsystems/tendermint-rs", branch = "v0.23.x" }
# tendermint-rpc          = { git = "https://github.com/informalsystems/tendermint-rs", branch = "v0.23.x" }
# tendermint-proto        = { git = "https://github.com/informalsystems/tendermint-rs", branch = "v0.23.x" }
# tendermint-light-client = { git = "https://github.com/informalsystems/tendermint-rs", branch = "v0.23.x" }
# tendermint-light-client-verifier = { git = "https://github.com/informalsystems/tendermint-rs", branch = "v0.23.x" }
# tendermint-testgen      = { git = "https://github.com/informalsystems/tendermint-rs", branch = "v0.23.x" }
