[package]
name       = "ibc-test-framework"
version    = "0.27.2"
edition    = "2021"
license    = "Apache-2.0"
readme     = "README.md"
keywords   = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
homepage   = "https://hermes.informal.systems/"
repository = "https://github.com/informalsystems/hermes"
authors    = ["Informal Systems <hello@informal.systems>"]

description = """
  Framework for writing integration tests for IBC relayers
"""

[dependencies]
ibc-relayer-types = { workspace = true }
ibc-relayer       = { workspace = true }
ibc-relayer-cli   = { workspace = true }
ibc-proto         = { workspace = true, features = ["serde"] }
tendermint-rpc    = { workspace = true, features = ["http-client", "websocket-client"] }

color-eyre         = { workspace = true }
crossbeam-channel  = { workspace = true }
eyre               = { workspace = true }
flex-error         = { workspace = true }
hdpath             = { workspace = true }
hex                = { workspace = true }
http               = { workspace = true }
itertools          = { workspace = true }
once_cell          = { workspace = true }
prost              = { workspace = true }
rand               = { workspace = true }
semver             = { workspace = true }
serde              = { workspace = true }
serde_json         = { workspace = true }
serde_yaml         = { workspace = true }
sha2               = { workspace = true }
subtle-encoding    = { workspace = true }
tokio              = { workspace = true, features = ["full"] }
toml               = { workspace = true }
tonic              = { workspace = true, features = ["tls", "tls-roots"] }
tracing            = { workspace = true }
tracing-subscriber = { workspace = true }
