[package]
name       = "ibc-test-framework"
version    = "0.19.0"
edition    = "2021"
license    = "Apache-2.0"
readme     = "README.md"
keywords   = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
homepage   = "https://hermes.informal.systems/"
repository = "https://github.com/informalsystems/ibc-rs"
authors    = ["Informal Systems <hello@informal.systems>"]

description = """
  Framework for writing integration tests for IBC relayers
"""

[dependencies]
ibc             = { version = "=0.19.0",     path = "../../modules" }
ibc-relayer     = { version = "=0.19.0",     path = "../../relayer" }
ibc-relayer-cli = { version = "=1.0.0", path = "../../relayer-cli" }
ibc-proto       = { version = "=0.20.1",     path = "../../proto" }
tendermint      = { version = "=0.23.9" }
tendermint-rpc  = { version = "=0.23.9", features = ["http-client", "websocket-client"] }

async-trait = "0.1.57"
http = "0.2.8"
tokio = { version = "1.0", features = ["full"] }
tracing = "0.1.36"
tracing-subscriber = "0.3.14"
eyre = "0.6.8"
color-eyre = "0.6"
rand = "0.8.5"
hex = "0.4.3"
serde = "1.0"
serde_json = "1"
serde_yaml = "0.9.11"
itertools = "0.10"
toml = "0.5"
subtle-encoding = "0.5.1"
sha2 = "0.10.5"
crossbeam-channel = "0.5.5"
semver = "1.0.13"
flex-error = "0.4.4"
