[package]
name = "relayer-cli"
version = "0.0.4"
edition = "2018"
authors = [
  "Informal Systems <hello@informal.systems>"
]

[dependencies]
relayer = { path = "../relayer" }
ibc = { path = "../modules" }
abscissa_tokio = "0.5.1"
anomaly = "0.2.0"
gumdrop = "0.7"
serde = { version = "1", features = ["serde_derive"] }
thiserror = "1"
tokio = { version = "0.2.13", features = ["rt-util", "sync"] }
tracing = "0.1.13"
tracing-subscriber = "0.2.3"
futures = "0.3.5"
toml = "0.5.6"
serde_derive = "1.0.116"
sled = "0.34.4"
prost = "0.6.1"
prost-types = { version = "0.6.1" }
hex = "0.4"

[dependencies.tendermint-proto]
#git = "https://github.com/informalsystems/tendermint-rs"
#branch = "greg/research-json"
path = "../../tendermint-rs/proto"

[dependencies.tendermint]
version = "0.17.0-rc1"
#git = "https://github.com/informalsystems/tendermint-rs"
path = "../../tendermint-rs/tendermint"

[dependencies.tendermint-rpc]
version = "0.17.0-rc1"
#git = "https://github.com/informalsystems/tendermint-rs"
path = "../../tendermint-rs/rpc"
features = ["http-client", "websocket-client"]

[dependencies.tendermint-light-client]
version = "0.17.0-rc1"
#git = "https://github.com/informalsystems/tendermint-rs"
#branch = "greg/research-json"
path = "../../tendermint-rs/light-client"

[dependencies.abscissa_core]
version = "0.5.2"
# optional: use `gimli` to capture backtraces
# see https://github.com/rust-lang/backtrace-rs/issues/189
# features = ["gimli-backtrace"]

[dev-dependencies]
abscissa_core = { version = "0.5.2", features = ["testing"] }
once_cell = "1.2"
