[package]
name = "relayer-cli"
version = "0.0.6"
edition = "2018"
authors = [
  "Informal Systems <hello@informal.systems>"
]

[dependencies]
relayer = { path = "../relayer" }
ibc = { path = "../modules" }
ibc-proto = { version = "0.6.0", path = "../proto" }
anomaly = "0.2.0"
gumdrop = "0.7"
serde = { version = "1", features = ["serde_derive"] }
thiserror = "1"
tokio = { version = "0.2", features = ["full"] }
tracing = "0.1.13"
tracing-subscriber = "0.2.3"
futures = "0.3.5"
toml = "0.5.6"
serde_derive = "1.0.116"
serde_json = "1"
sled = "0.34.4"
prost = "0.6.1"
prost-types = { version = "0.7.0" }
hex = "0.4"
crossbeam-channel = "0.5.0"

[dependencies.tendermint-proto]
version = "=0.17.0"

[dependencies.tendermint]
version = "=0.17.0"

[dependencies.tendermint-rpc]
version = "=0.17.0"
features = ["http-client", "websocket-client"]

[dependencies.tendermint-light-client]
version = "=0.17.0"

[dependencies.abscissa_core]
version = "0.5.2"

[dev-dependencies]
abscissa_core = { version = "0.5.2", features = ["testing"] }
once_cell = "1.2"
