[package]
name = "relayer-cli"
version = "0.0.5"
edition = "2018"
authors = [
  "Informal Systems <hello@informal.systems>"
]

[dependencies]
relayer = { path = "../relayer" }
ibc = { path = "../modules" }
ibc-proto = { version = "0.5.0", path = "../proto" }
anomaly = "0.2.0"
gumdrop = "0.7"
serde = { version = "1", features = ["serde_derive"] }
thiserror = "1"
tokio = { version = "0.2", features = ["full"] }
tracing = "0.1.13"
tracing-subscriber = "0.2.3"
futures = "0.3.5"
toml = "0.5.6"
serde_derive = "1.0.116"
sled = "0.34.4"
prost = "0.6.1"
prost-types = { version = "0.6.1" }
hex = "0.4"
crossbeam-channel = "0.5.0"

tendermint              = { path = "../../tendermint-rs/tendermint" }
tendermint-rpc          = { path = "../../tendermint-rs/rpc" }
tendermint-proto        = { path = "../../tendermint-rs/proto" }
tendermint-light-client = { path = "../../tendermint-rs/light-client" }

[dependencies.abscissa_core]
version = "0.5.2"

[dev-dependencies]
abscissa_core = { version = "0.5.2", features = ["testing"] }
once_cell = "1.2"
