[package]
name       = "ibc-relayer-cli"
version    = "0.7.3"
edition    = "2018"
license    = "Apache-2.0"
readme     = "README.md"
keywords   = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
homepage   = "https://hermes.informal.systems/"
repository = "https://github.com/informalsystems/ibc-rs"
authors    = ["Informal Systems <hello@informal.systems>"]

description = """
  Hermes is an IBC Relayer written in Rust.
"""

[[bin]]
name = "hermes"

[features]
default     = ["telemetry", "rest-server", "std", "eyre_tracer",]
std         = ["flex-error/std"]
eyre_tracer = ["flex-error/eyre_tracer"]
profiling   = ["ibc-relayer/profiling"]
telemetry   = ["ibc-relayer/telemetry", "ibc-telemetry"]
rest-server = ["ibc-relayer-rest"]

[dependencies]
ibc              = { version = "0.7.3", path = "../modules" }
ibc-relayer      = { version = "0.7.3", path = "../relayer" }
ibc-proto        = { version = "0.11.0", path = "../proto" }
ibc-telemetry    = { version = "0.7.3", path = "../telemetry", optional = true }
ibc-relayer-rest = { version = "0.7.3", path = "../relayer-rest", optional = true }

gumdrop = { version = "0.7", features = ["default_expr"] }
serde = { version = "1", features = ["serde_derive"] }
tokio = { version = "1.0", features = ["full"] }
tracing = "0.1.28"
tracing-subscriber = "0.2.24"
eyre = "0.6.5"
color-eyre = "0.5"
futures = "0.3.17"
toml = "0.5.8"
serde_derive = "1.0.116"
serde_json = "1"
prost = { package = "informalsystems-prost", version = "0.8.1", default-features = false }
prost-types = { package = "informalsystems-prost-types", version = "0.8.1", default-features = false }
hex = "0.4"
crossbeam-channel = "0.5.1"
subtle-encoding = "0.5"
dirs-next = "2.0.0"
itertools = "0.10.1"
atty = "0.2.14"
flex-error = { version = "0.4.3", default-features = false }
signal-hook = "0.3.10"

[dependencies.tendermint-proto]
version = "=0.22.0"

[dependencies.tendermint]
version = "=0.22.0"
features = ["secp256k1"]

[dependencies.tendermint-rpc]
version = "=0.22.0"
features = ["http-client", "websocket-client"]

[dependencies.tendermint-light-client]
version = "=0.22.0"
features = ["unstable"]

[dependencies.abscissa_core]
version = "0.5.2"

[dev-dependencies]
abscissa_core = { version = "0.5.2", features = ["testing"] }
once_cell = "1.8"
regex = "1"
