[package]
name = "relayer-cli"
version = "0.0.3"
edition = "2018"
authors = [
  "Informal Systems <hello@informal.systems>"
]

[dependencies]
relayer = { path = "../relayer" }
ibc = { path = "../modules" }

tendermint = { version = "0.16.0", path = "../../tendermint-rs/tendermint" }
tendermint-rpc = { version = "0.16.0", path = "../../tendermint-rs/rpc" }
tendermint-light-client = { version = "0.16.0", path = "../../tendermint-rs/light-client" }
tendermint-proto = "0.1.0"

abscissa_tokio = "0.5.1"
anomaly = "0.2.0"
gumdrop = "0.7"
serde = { version = "1", features = ["serde_derive"] }
thiserror = "1"
tokio = { version = "0.2.13", features = ["rt-util", "sync"] }
tracing = "0.1.13"
tracing-subscriber = "0.2.3"
futures = "0.3.5"
toml = "0.5.6"
serde_derive = "1.0.116"

[dependencies.abscissa_core]
version = "0.5.2"
# optional: use `gimli` to capture backtraces
# see https://github.com/rust-lang/backtrace-rs/issues/189
# features = ["gimli-backtrace"]

[dev-dependencies]
abscissa_core = { version = "0.5.2", features = ["testing"] }
once_cell = "1.2"
