[package]
name       = "ibc-telemetry"
version    = "0.4.0"
edition    = "2018"
license    = "Apache-2.0"
readme     = "../README.md"
keywords   = ["blockchain", "consensus", "cosmos", "ibc", "tendermint", "telemetry"]
repository = "https://github.com/informalsystems/ibc-rs"
authors    = ["Informal Systems <hello@informal.systems>"]

description = """
    Telemetry service for the Hermes IBC relayer
"""

[dependencies]
ibc = { version = "0.4.0", path = "../modules" }

crossbeam-channel        = "0.5.1"
once_cell                = "1.7.2"
opentelemetry            = "0.14.0"
opentelemetry-prometheus = "0.7.0"
prometheus               = "0.12.0"
rouille                  = "3.1.1"
