[package]
name         = "ibc-relayer-types"
version      = "0.27.0"
edition      = "2021"
license      = "Apache-2.0"
readme       = "README.md"
keywords     = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
repository   = "https://github.com/informalsystems/hermes"
authors      = ["Informal Systems <hello@informal.systems>"]
rust-version = "1.71"
description  = """
    Implementation of the Inter-Blockchain Communication Protocol (IBC).
    This crate comprises the main data structures and on-chain logic.
"""

[package.metadata.docs.rs]
all-features = true

[features]
clock = []
# This feature grants access to development-time mocking libraries, such as `MockContext` or `MockHeader`.
# Depends on the `testgen` suite for generating Tendermint light blocks.
mocks = ["tendermint-testgen", "clock"]

[dependencies]
# Proto definitions for all IBC-related interfaces, e.g., connections or channels.
ibc-proto = { version = "0.41.0", features = ["serde"] }
ics23 = { version = "0.11.0", features = ["std", "host-functions"] }
time = { version = "0.3" }
serde_derive = { version = "1.0.104" }
serde = { version = "1.0" }
serde_json = { version = "1" }
prost = { version = "0.12" }
bytes = { version = "1.4.0" }
subtle-encoding = { version = "0.5" }
flex-error = { version = "0.4.4" }
derive_more = { version = "0.99.17", default-features = false, features = ["from", "into", "display"] }
uint = { version = "0.9" }
itertools = { version = "0.10.3" }
primitive-types = { version = "0.12.1", default-features = false, features = ["serde_no_std"] }
num-rational = "0.4.1"
regex = "1"

[dependencies.tendermint]
version = "0.34.0"
features = ["clock"]

[dependencies.tendermint-proto]
version = "0.34.0"

[dependencies.tendermint-light-client-verifier]
version = "0.34.0"
features = ["rust-crypto"]

[dependencies.tendermint-testgen]
version = "0.34.0"
optional = true

[dev-dependencies]
env_logger = "0.11.1"
tracing = { version = "0.1.36", default-features = false }
tracing-subscriber = { version = "0.3.14", features = ["fmt", "env-filter", "json"] }
test-log = { version = "0.2.14", features = ["trace"] }
tendermint-rpc = { version = "0.34.0", features = ["http-client", "websocket-client"] }
tendermint-testgen = { version = "0.34.0" } # Needed for generating (synthetic) light blocks.
