[package]
name = "relayer"
version = "0.0.1"
edition = "2018"
authors = [
  "Anca Zamfir <anca@interchain.io>",
  "Romain Ruetschi <romain@informal.systems>"
]

[dependencies]
relayer-modules = { path = "../../modules" }
tendermint = { git = "https://github.com/informalsystems/tendermint-rs.git", branch = "master" }
tendermint-rpc = { git = "https://github.com/informalsystems/tendermint-rs.git", branch = "master", features=["client"] }
anomaly = "0.2.0"
async-trait = "0.1.24"
humantime-serde = "1.0.0"
serde = "1.0.97"
serde_cbor = "0.11.1"
serde_derive = "1.0"
sled = { version = "0.31.0", features = ["no_metrics", "no_logs"] }
thiserror = "1.0.11"
toml = "0.5"
tracing = "0.1.13"
tokio = "0.2"
serde_json = { version = "1" }

[dev-dependencies]
