[package]
name       = "ibc-proto"
version    = "0.12.0"
authors    = ["Informal Systems <hello@informal.systems>"]
edition    = "2018"
license    = "Apache-2.0"
repository = "https://github.com/informalsystems/ibc-rs/tree/master/proto"
readme     = "README.md"
categories = ["cryptography", "cryptography::cryptocurrencies", "database"]
keywords   = ["blockchain", "cosmos", "tendermint", "ibc", "proto"]
exclude    = ["definitions"]

description = """
    ibc-proto is a Rust implementation of the Cosmos SDK & IBC proto structs.
    """

[lib]
name = "ibc_proto"
path = "src/lib.rs"

[package.metadata.docs.rs]
all-features = true

[dependencies]
prost = { version = "0.9" }
prost-types = { version = "0.9" }
bytes = "1.1"
tonic = { version = "0.6" }
getrandom = { version = "0.2", features = ["js"] }

[dependencies.tendermint-proto]
version = "=0.23.0-internal"
