[package]
name         = "ibc-relayer"
version      = "0.26.4"
edition      = "2021"
license      = "Apache-2.0"
readme       = "README.md"
keywords     = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
repository   = "https://github.com/informalsystems/hermes"
authors      = ["Informal Systems <hello@informal.systems>"]
rust-version = "1.71"
description  = """
    Implementation of an IBC Relayer in Rust, as a library
"""

[package.metadata.docs.rs]
all-features = true

[features]
default   = ["flex-error/std", "flex-error/eyre_tracer"]
telemetry = ["ibc-telemetry"]

[dependencies]
ibc-proto         = { version = "0.41.0", features = ["serde"] }
ibc-telemetry     = { version = "0.26.4", path = "../telemetry", optional = true }
ibc-relayer-types = { version = "0.26.4", path = "../relayer-types", features = ["mocks"] }

astria-core = { git = "https://github.com/astriaorg/astria", rev = "e73db6304c0146c9891a77fbc24b92d49f3eb211" }
astria-sequencer-client = { git = "https://github.com/astriaorg/astria", rev = "e73db6304c0146c9891a77fbc24b92d49f3eb211", features = [ "http" ] }
ed25519-consensus = "2.1.0"
ibc-types = "0.12.0"
jmt = "0.6"
penumbra-ibc = { git = "https://github.com/penumbra-zone/penumbra.git", tag = "v0.78.0", default-features = false }
penumbra-proto = { git = "https://github.com/penumbra-zone/penumbra.git", tag = "v0.78.0" }
pbjson-types = "0.6"

subtle-encoding = "0.5"
humantime-serde = "1.1.1"
serde = "1.0"
serde_derive = "1.0"
thiserror = "1.0.40"
toml = "0.8"
tracing = "0.1.36"
tokio = { version = "1.0", features = ["rt-multi-thread", "time", "sync"] }
serde_json = { version = "1" }
bytes = "1.4.0"
prost = { version = "0.12" }
tonic = { version = "0.10", features = ["tls", "tls-roots"] }
futures = "0.3"
crossbeam-channel = "0.5.11"
hex = "0.4"
bitcoin = { version = "0.31.1", features = ["serde"] }
tiny-bip39 = "1.0.0"
hdpath = "0.6.3"
sha2 = "0.10.6"
tiny-keccak = { version = "2.0.2", features = ["keccak"], default-features = false }
ripemd = "0.1.3"
bech32 = "0.9.1"
itertools = "0.10.5"
dirs-next = "2.0.0"
retry = { version = "2.0.0", default-features = false }
async-stream = "0.3.5"
http = "0.2.9"
flex-error = { version = "0.4.4", default-features = false }
signature = "2.1.0"
anyhow = "1.0"
semver = "1.0"
humantime = "2.1.0"
regex = "1"
moka = { version = "0.12.0", features = ["sync"] }
uuid = { version = "1.6.1", features = ["v4"] }
bs58 = "0.5.0"
digest = "0.10.6"
ed25519 = "2.2.2"
ed25519-dalek = { version = "2.0.0", features = ["serde"] }
ed25519-dalek-bip32 = "0.3.0"
generic-array = "0.14.7"
secp256k1 = { version = "0.28.1", features = ["rand-std"] }
strum = { version = "0.25", features = ["derive"] }
tokio-stream = "0.1.14"
once_cell = "1.19.0"
tracing-subscriber = { version = "0.3.14", features = ["fmt", "env-filter", "json"] }

[dependencies.byte-unit]
version = "4.0.19"
default-features = false
features = ["serde"]

[dependencies.num-bigint]
version = "0.4"
features = ["serde"]

[dependencies.num-rational]
version = "0.4.1"
features = ["num-bigint", "serde"]

[dependencies.tendermint]
version = "0.34.0"
features = ["secp256k1"]

[dependencies.tendermint-proto]
version = "0.34.0"

[dependencies.tendermint-rpc]
version = "0.34.0"
features = ["http-client", "websocket-client"]

[dependencies.tendermint-light-client]
version = "0.34.0"
default-features = false
features = ["rpc-client", "secp256k1", "unstable"]

[dependencies.tendermint-light-client-detector]
version = "0.34.0"
default-features = false

[dependencies.tendermint-light-client-verifier]
version = "0.34.0"
default-features = false

[dev-dependencies]
ibc-relayer-types = { version = "0.26.4", path = "../relayer-types", features = ["mocks"] }
serial_test = "2.0.0"
env_logger = "0.10.0"
test-log = { version = "0.2.14", features = ["trace"] }

# Needed for generating (synthetic) light blocks.
tendermint-testgen = { version = "0.34.0" }
