[package]
name         = "ibc-telemetry"
version      = "0.19.0"
edition      = "2021"
license      = "Apache-2.0"
readme       = "README.md"
keywords     = ["cosmos", "ibc", "relayer", "telemetry"]
repository   = "https://github.com/informalsystems/hermes"
authors      = ["Informal Systems <hello@informal.systems>"]
rust-version = "1.60"
description  = """
    Telemetry service for the Hermes IBC relayer
"""

[dependencies]
ibc-relayer-types = { version = "0.19.0", path = "../relayer-types" }

crossbeam-channel        = "0.5.5"
once_cell                = "1.15.0"
opentelemetry            = { version = "0.18.0", features = ["metrics"] }
opentelemetry-prometheus = "0.11.0"
prometheus               = "0.13.2"
rouille                  = "3.6.1"
moka                     = "0.9.4"
uuid                     = { version = "1.2.1", features = ["v4"] }
dashmap                  = "5.4.0"

[dependencies.tendermint]
version = "=0.25.0"
default-features = false
