[package]
name         = "ibc-telemetry"
version      = "0.24.0"
edition      = "2021"
license      = "Apache-2.0"
readme       = "README.md"
keywords     = ["cosmos", "ibc", "relayer", "telemetry"]
repository   = "https://github.com/informalsystems/hermes"
authors      = ["Informal Systems <hello@informal.systems>"]
rust-version = "1.65"
description  = """
    Telemetry service for the Hermes IBC relayer
"""

[dependencies]
ibc-relayer-types = { version = "0.24.0", path = "../relayer-types" }

once_cell                = "1.17.0"
opentelemetry            = { version = "0.19.0", features = ["metrics"] }
opentelemetry-prometheus = "0.12.0"
prometheus               = "0.13.2"
moka                     = "0.11.1"
dashmap                  = "5.4.0"
serde_json               = "1.0.94"
serde                    = "1.0.149"
axum                     = "0.6.18"
tokio                    = "1.26.0"

[dependencies.tendermint]
version = "0.32.0"
default-features = false
