[package]
name         = "ibc-telemetry"
version      = "0.22.0"
edition      = "2021"
license      = "Apache-2.0"
readme       = "README.md"
keywords     = ["cosmos", "ibc", "relayer", "telemetry"]
repository   = "https://github.com/informalsystems/hermes"
authors      = ["Informal Systems <hello@informal.systems>"]
rust-version = "1.68"
description  = """
    Telemetry service for the Hermes IBC relayer
"""

[dependencies]
ibc-relayer-types = { version = "0.22.0", path = "../relayer-types" }

once_cell                = "1.17.0"
opentelemetry            = { version = "0.18.0", features = ["metrics"] }
opentelemetry-prometheus = "0.11.0"
prometheus               = "0.13.2"
rouille                  = "3.6.1"
moka                     = "0.10.0"
dashmap                  = "5.4.0"
serde_json = "1.0.94"
serde = "1.0.149"

[dependencies.tendermint]
version = "0.30.0"
default-features = false
