[package]
name = "relayer"
version = "0.0.4"
edition = "2018"
authors = [
  "Informal Systems <hello@informal.systems>"
]

[dependencies]
ibc = { path = "../modules" }
tendermint-proto = "0.1.0"

anomaly = "0.2.0"
async-trait = "0.1.24"
humantime-serde = "1.0.0"
serde = "1.0.97"
serde_cbor = "0.11.1"
serde_derive = "1.0"
sled = { version = "0.34.4", features = ["no_metrics", "no_logs"] }
thiserror = "1.0.11"
toml = "0.5"
tracing = "0.1.13"
tokio = "0.2"
serde_json = { version = "1" }
bytes = "0.6.0"
prost = "0.6.1"
prost-types = { version = "0.6.1" }
futures = "0.3.5"
retry = "1.1.0"
crossbeam-channel = "0.5.0"

[dependencies.tendermint]
version = "0.17.0-rc1"
git = "https://github.com/informalsystems/tendermint-rs"

[dependencies.tendermint-rpc]
version = "0.17.0-rc1"
features = ["http-client", "websocket-client"]
git = "https://github.com/informalsystems/tendermint-rs"

[dependencies.tendermint-light-client]
version = "0.17.0-rc1"
git = "https://github.com/informalsystems/tendermint-rs"

# Needed for tx sign when ready in tendermint upgrade
#k256 = { version = "0.4", features = ["ecdsa-core", "ecdsa", "sha256"]}
#tendermint-rpc = "0.15"
#rust-crypto = "0.2.36"
#hex = "0.4"
#ripemd160 = { version = "0.9", optional = true }
#sha2 = { version = "0.9.1", default-features = false }

[dev-dependencies.ibc]
path = "../modules"
features = [ "mocks" ]