[package]
name    = "ibc-relayer"
version = "0.1.0"
edition = "2018"
license    = "Apache-2.0"
readme     = "README.md"
keywords   = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
repository = "https://github.com/informalsystems/ibc-rs"
authors = [
  "Informal Systems <hello@informal.systems>"
]

description = """
    Implementation of an IBC Relayer in Rust, as a library.
"""

[features]
profiling = []

[dependencies]
subtle-encoding = "0.5"
ibc = { version = "0.1.0", path = "../modules" }
ibc-proto = { version = "0.7.0", path = "../proto" }
anomaly = "0.2.0"
async-trait = "0.1.24"
humantime-serde = "1.0.0"
serde = "1.0.97"
serde_cbor = "0.11.1"
serde_derive = "1.0"
sled = { version = "0.34.4", features = ["no_metrics", "no_logs"] }
thiserror = "1.0.11"
toml = "0.5"
tracing = "0.1.13"
tokio = { version = "1.0", features = ["rt-multi-thread", "time", "sync"] }
serde_json = { version = "1" }
bytes = "1.0.0"
prost = "0.7"
prost-types = "0.7"
futures = "0.3.5"
retry = "1.1.0"
crossbeam-channel = "0.5.0"
k256 = { version = "0.7.1", features = ["ecdsa-core", "ecdsa", "sha256"]}
hex = "0.4"
bitcoin = { version = "=0.26" }
bitcoin-wallet = "1.1.0"
hdpath = { version = "0.6.0", features = ["with-bitcoin"] }
rust-crypto = "0.2.36"
bech32 = "0.8.0"
itertools = "0.10.0"
dyn-clonable = "0.9.0"
tonic = "0.4"
dirs-next = "2.0.0"
dyn-clone = "1.0.3"
funty = "=1.1.0"    # Quick fix for https://github.com/informalsystems/ibc-rs/issues/665; TODO: remove eventually.

[dependencies.tendermint]
version = "=0.18.0"

[dependencies.tendermint-rpc]
version = "=0.18.0"
features = ["http-client", "websocket-client"]

[dependencies.tendermint-light-client]
version = "=0.18.0"
features = ["unstable"]

[dependencies.tendermint-proto]
version = "=0.18.0"

[dev-dependencies]
serial_test = "0.5.0"
ibc = { version = "0.1.0", path = "../modules", features = ["mocks"] }

# Needed for generating (synthetic) light blocks.
tendermint-testgen = { version = "=0.18.0" }
