[package]
name = "relayer"
version = "0.0.2"
edition = "2018"
authors = [
  "Informal Systems <hello@informal.systems>"
]

[dependencies]
ibc = { path = "../modules" }
ibc-proto = "0.2.2"
prost-types = "0.6.1"
tendermint = "0.15.0"
tendermint-rpc = { version = "0.15.0", features=["client"] }
anomaly = "0.2.0"
async-trait = "0.1.24"
humantime-serde = "1.0.0"
serde = "1.0.97"
serde_cbor = "0.11.1"
serde_derive = "1.0"
sled = { version = "0.31.0", features = ["no_metrics", "no_logs"] }
thiserror = "1.0.11"
toml = "0.5"
tracing = "0.1.13"
tokio = "0.2"
serde_json = { version = "1" }
bytes = "0.5.6"
prost = "0.6.1"

[dev-dependencies]
