[package]
name = "relayer"
version = "0.0.6"
edition = "2018"
authors = [
  "Informal Systems <hello@informal.systems>"
]

[dependencies]
subtle-encoding = "0.5"
ibc = { path = "../modules" }
ibc-proto = { version = "0.6.0", path = "../proto" }
anomaly = "0.2.0"
async-trait = "0.1.24"
humantime-serde = "1.0.0"
serde = "1.0.97"
serde_cbor = "0.11.1"
serde_derive = "1.0"
sled = { version = "0.34.4", features = ["no_metrics", "no_logs"] }
thiserror = "1.0.11"
toml = "0.5"
tracing = "0.1.13"
tokio = { version = "0.2", features = ["rt-core", "time", "stream", "sync"] }
serde_json = { version = "1" }
bytes = "1.0.0"
prost = "0.6.1"
prost-types = { version = "0.6.1" }
futures = "0.3.5"
retry = "1.1.0"
crossbeam-channel = "0.5.0"
k256 = { version = "0.7.1", features = ["ecdsa-core", "ecdsa", "sha256"]}
hex = "0.4"
bitcoin = { version = "=0.26" }
bitcoin-wallet = "1.1.0"
hdpath = { version = "0.6.0", features = ["with-bitcoin"] }
rust-crypto = "0.2.36"
bech32 = "0.7.2"
itertools = "0.10.0"
dyn-clonable = "0.9.0"
tonic = "0.4.0"
dirs-next = "2.0.0"
dyn-clone = "1.0.3"

[dependencies.tendermint]
version = "=0.17.1"

[dependencies.tendermint-rpc]
version = "=0.17.1"
features = ["http-client", "websocket-client"]

[dependencies.tendermint-light-client]
version = "=0.17.1"

[dependencies.tendermint-proto]
version = "=0.17.1"

[dev-dependencies]
serial_test = "0.5.0"
ibc = { path = "../modules", features = [ "mocks" ] }
tendermint-testgen = { version = "=0.17.1" } # Needed for generating (synthetic) light blocks.
