[package]
name       = "ibc-relayer"
version    = "0.5.0"
edition    = "2018"
license    = "Apache-2.0"
readme     = "README.md"
keywords   = ["blockchain", "consensus", "cosmos", "ibc", "tendermint"]
repository = "https://github.com/informalsystems/ibc-rs"
authors    = ["Informal Systems <hello@informal.systems>"]

description = """
    Implementation of an IBC Relayer in Rust, as a library.
"""

[features]
profiling = []
telemetry = ["ibc-telemetry"]

[dependencies]
ibc           = { version = "0.5.0", path = "../modules" }
ibc-proto     = { version = "0.8.1", path = "../proto" }
ibc-telemetry = { version = "0.5.0", path = "../telemetry", optional = true }

subtle-encoding = "0.5"
async-trait = "0.1.50"
humantime-serde = "1.0.0"
serde = "1.0.125"
serde_cbor = "0.11.1"
serde_derive = "1.0"
sled = { version = "0.34.4", features = ["no_metrics", "no_logs"] }
toml = "0.5"
tracing = "0.1.26"
tokio = { version = "1.0", features = ["rt-multi-thread", "time", "sync"] }
serde_json = { version = "1" }
bytes = "1.0.0"
prost = "0.7"
prost-types = "0.7"
futures = "0.3.14"
crossbeam-channel = "0.5.1"
k256 = { version = "0.9.2", features = ["ecdsa-core", "ecdsa", "sha256"]}
hex = "0.4"
bitcoin = { version = "=0.26", features = ["use-serde"] }
tiny-bip39 = "0.8.0"
hdpath = { version = "0.6.0", features = ["with-bitcoin"] }
sha2 = "0.9.3"
ripemd160 = "0.9.1"
bech32 = "0.8.1"
itertools = "0.10.1"
dyn-clonable = "0.9.0"
tonic = { version = "0.4", features = ["tls", "tls-roots"] }
dirs-next = "2.0.0"
dyn-clone = "1.0.3"
retry = { version = "1.2.1", default-features = false }
async-stream = "0.3.2"
http = "0.2.4"
flex-error = "0.2.1"
signature = "1.3.0"
anyhow = "1.0.41"
fraction = {version = "0.8.0", default-features = false }

[dependencies.tendermint]
version = "=0.20.0"

[dependencies.tendermint-rpc]
version = "=0.20.0"
features = ["http-client", "websocket-client"]

[dependencies.tendermint-light-client]
version = "=0.20.0"
features = ["unstable"]

[dependencies.tendermint-proto]
version = "=0.20.0"

[dev-dependencies]
ibc = { version = "0.5.0", path = "../modules", features = ["mocks"] }
serial_test = "0.5.0"
env_logger = "0.8.4"
tracing-subscriber = "0.2.19"
test-env-log = { version = "0.2.7", features = ["trace"] }

# Needed for generating (synthetic) light blocks.
tendermint-testgen = { version = "=0.20.0" }
