[package]
name = "no-std-check"
version = "0.1.0"
edition = "2018"

[dependencies]

ibc = { path = "../../modules", optional = true }
ibc-proto = { path = "../../proto", optional = true }

sp-core = {default-features = false, version = '3.0.0', optional = true }
sp-io = {default-features = false, version = '3.0.0', optional = true }
sp-runtime = {default-features = false, version = '3.0.0', optional = true }
sp-std = {default-features = false, version = '3.0.0', optional = true }

# Dependencies that support no_std
flex-error = { version = "0.4.2", default-features = false }
prost = { version = "0.7", default-features = false }
prost-types = { version = "0.7", default-features = false }
chrono = { version = "0.4.19", default-features = false }
bytes = { version = "1.0.1", default-features = false }
serde_derive = { version = "1.0.104", default-features = false }
tracing = { version = "0.1.26", default-features = false }
subtle-encoding = { version = "0.5.1", default-features = false }
sha2 = { version = "0.9.3", default-features = false }

# Dependencies that do not support no_std
tonic = { version = "0.4.1", optional = true, default-features = false }
socket2 = { version = "0.4.1", optional = true, default-features = false }
getrandom = { version = "0.2.3", optional = true, default-features = false, features = ["js"] }
serde = { version = "1.0.125", optional = true, default-features = false }
serde_json = { version = "1.0.65", optional = true, default-features = false, features = ["alloc"] }
ics23 = { version = "0.6.5", optional = true, default-features = false }
thiserror = { version = "1.0.26", optional = true, default-features = false }
regex = { version = "1.5.4", optional = true, default-features = false }

[features]
default = []
use-ibc = ["ibc", "ibc-proto"]
use-substrate = ["sp-core", "sp-io", "sp-runtime", "sp-std"]
use-unsupported = [
  "tonic",
  "socket2",
  "getrandom",
  "serde",
  "serde_json",
  "ics23",
  "thiserror",
  "regex",
]


[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
