name: API Docs

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/cargo-doc.yml
      - Cargo.toml
      - Cargo.lock
      - crates/**
  pull_request:
    paths:
      - .github/workflows/cargo-doc.yml
      - Cargo.toml
      - Cargo.lock
      - crates/**

# Cancel previous runs of this workflow when a new commit is added to the PR, branch or tag
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cargo-doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Install Protoc
        uses: heliaxdev/setup-protoc@v2
        with:
          version: "25.0"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build API documentation
        uses: actions-rs/cargo@v1
        env:
          RUSTDOCFLAGS: "--cfg docsrs"
        with:
          command: doc
          args: --all-features

      - name: Push API documentation to GitHub Pages
        if: github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.IBC_RS_DOC_PRIVATE_KEY }}
          external_repository: informalsystems/hermes-api-doc
          publish_dir: ./target/doc
