name: End to End testing
on:
  pull_request:
    paths:
      - Cargo.toml
      - ci/**
      - e2e/**
      - proto/**
      - modules/**
      - relayer/**
      - relayer-cli/**
  push:
    branches: master
    paths:
      - Cargo.toml
      - ci/**
      - e2e/**
      - proto/**
      - modules/**
      - relayer/**
      - relayer-cli/**

jobs:
  test-end-to-end:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --workspace
      - run: cp ./target/debug/hermes .
      - name: Build relayer image
        run: docker-compose -f ci/docker-compose.yml build relayer
      - name: Start chains and relayer
        run: docker-compose -f ci/docker-compose.yml up -d ibc-0 ibc-1 relayer
      - name: Run relayer workflow
        run: docker exec relayer /bin/sh -c /relayer/e2e.sh
