name: Rust
on:
  pull_request:
    paths:
      - .github/workflows/integration.yaml
      - Cargo.toml
      - Cargo.lock
      - flake.nix
      - flake.lock
      - ci/**
      - e2e/**
      - crates/**
      - tools/**
  push:
    branches: master
    paths:
      - .github/workflows/integration.yaml
      - Cargo.toml
      - Cargo.lock
      - flake.nix
      - flake.lock
      - ci/**
      - e2e/**
      - crates/**
      - tools/**

env:
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_DEV_DEBUG: 1
  CARGO_PROFILE_RELEASE_DEBUG: 1
  RUST_BACKTRACE: short
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  integration-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        chain:
          - package: gaia6
            command: gaiad
            account_prefix: cosmos
          - package: gaia7
            command: gaiad
            account_prefix: cosmos
          - package: ibc-go-v2-simapp
            command: simd
            account_prefix: cosmos
          - package: ibc-go-v3-simapp
            command: simd
            account_prefix: cosmos
          - package: ibc-go-v4-simapp
            command: simd
            account_prefix: cosmos
          - package: ibc-go-v5-simapp
            command: simd
            account_prefix: cosmos
          - package: ibc-go-v6-simapp
            command: simd
            account_prefix: cosmos
          - package: wasmd
            command: wasmd
            account_prefix: wasm
          - package: evmos
            command: evmosd
            account_prefix: evmos
          - package: osmosis
            command: osmosisd
            account_prefix: osmo

    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v15
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/vij683ly7sl95nnhb67bdjjfabclr85m/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: cosmos
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p ibc-integration-test --no-fail-fast --no-run
      - env:
          RUST_LOG: info
          RUST_BACKTRACE: 1
          NO_COLOR_LOG: 1
          CHAIN_COMMAND_PATH: ${{ matrix.chain.command }}
          ACCOUNT_PREFIX: ${{ matrix.chain.account_prefix }}
        run: |
          nix shell .#python .#${{ matrix.chain.package }} -c cargo \
            test -p ibc-integration-test --no-fail-fast -- \
            --nocapture --test-threads=2

  ordered-channel-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v15
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/vij683ly7sl95nnhb67bdjjfabclr85m/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: cosmos
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p ibc-integration-test --no-fail-fast --no-run
      - env:
          RUST_LOG: info
          RUST_BACKTRACE: 1
          NO_COLOR_LOG: 1
        run: |
          nix shell .#python .#gaia6-ordered -c cargo \
            test -p ibc-integration-test --features ordered --no-fail-fast -- \
            --nocapture --test-threads=1 test_ordered_channel

  ica-filter-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v15
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/vij683ly7sl95nnhb67bdjjfabclr85m/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: cosmos
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p ibc-integration-test --no-fail-fast --no-run
      - env:
          RUST_LOG: info
          RUST_BACKTRACE: 1
          NO_COLOR_LOG: 1
          CHAIN_COMMAND_PATH: icad
        run: |
          nix shell .#python .#ica -c cargo \
            test -p ibc-integration-test --features ica --no-fail-fast -- \
            --nocapture --test-threads=1 test_ica_filter

  ics29-fee-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        chain:
          - package: ibc-go-v5-simapp
            command: simd
            account_prefix: cosmos
          - package: ibc-go-v6-simapp
            command: simd
            account_prefix: cosmos
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v15
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/vij683ly7sl95nnhb67bdjjfabclr85m/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: cosmos
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p ibc-integration-test --features ics29-fee --no-fail-fast --no-run
      - env:
          RUST_LOG: info
          RUST_BACKTRACE: 1
          NO_COLOR_LOG: 1
          CHAIN_COMMAND_PATH: ${{ matrix.chain.command }}
          ACCOUNT_PREFIX: ${{ matrix.chain.account_prefix }}
        run: |
          nix shell .#${{ matrix.chain.package }} -c cargo \
            test -p ibc-integration-test --features ics29-fee --no-fail-fast -- \
            --nocapture --test-threads=1 fee::

  forward-packet:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        chain:
          - package: gaia6
            command: gaiad
            account_prefix: cosmos
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v15
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/vij683ly7sl95nnhb67bdjjfabclr85m/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: cosmos
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p ibc-integration-test --features forward-packet --no-fail-fast --no-run
      - env:
          RUST_LOG: info
          RUST_BACKTRACE: 1
          NO_COLOR_LOG: 1
          CHAIN_COMMAND_PATH: ${{ matrix.chain.command }}
          ACCOUNT_PREFIX: ${{ matrix.chain.account_prefix }}
        run: |
          nix shell .#${{ matrix.chain.package }} -c cargo \
            test -p ibc-integration-test --features forward-packet --no-fail-fast -- \
            --nocapture --test-threads=1 forward::

  model-based-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        gaiad:
          - gaia6
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v15
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/vij683ly7sl95nnhb67bdjjfabclr85m/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: cosmos
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p ibc-integration-test --features mbt --no-fail-fast --no-run
      # Disable running MBT tests until flakiness is addressed
      # - env:
      #     RUST_LOG: debug
      #     RUST_BACKTRACE: 1
      #     NO_COLOR_LOG: 1
      #   run: |
      #     nix shell \
      #       .#${{ matrix.gaiad }} \
      #       .#apalache \
      #       -c cargo \
      #       test -p ibc-integration-test --features mbt --no-fail-fast -- \
      #       --nocapture --test-threads=1 mbt