name: Rust
on:
  pull_request:
    paths:
      - .github/workflows/integration.yaml
      - Cargo.toml
      - Cargo.lock
      - ci/**
      - e2e/**
      - proto/**
      - modules/**
      - relayer/**
      - relayer-cli/**
      - relayer-rest/**
      - telemetry/**
      - tools/**
  push:
    branches: master
    paths:
      - .github/workflows/integration.yaml
      - Cargo.toml
      - Cargo.lock
      - ci/**
      - e2e/**
      - proto/**
      - modules/**
      - relayer/**
      - relayer-cli/**
      - relayer-rest/**
      - telemetry/**
      - tools/**

env:
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_DEV_DEBUG: 1
  CARGO_PROFILE_RELEASE_DEBUG: 1
  RUST_BACKTRACE: short
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  integration-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gaiad:
          - gaia4
          - gaia5
          - gaia6_0_2
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v15
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/vij683ly7sl95nnhb67bdjjfabclr85m/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: cosmos
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p ibc-integration-test --no-fail-fast --no-run
      - env:
          RUST_LOG: info
          RUST_BACKTRACE: 1
        run: |
          nix shell github:informalsystems/cosmos.nix#${{ matrix.gaiad }} -c cargo \
            test -p ibc-integration-test --no-fail-fast -- \
            --nocapture

  ordered-channel-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v15
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/vij683ly7sl95nnhb67bdjjfabclr85m/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: cosmos
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p ibc-integration-test --no-fail-fast --no-run
      - env:
          RUST_LOG: info
          RUST_BACKTRACE: 1
        run: |
          nix shell github:informalsystems/cosmos.nix/gaia-ordered#gaia6-ordered -c cargo \
            test -p ibc-integration-test --features ordered --no-fail-fast -- \
            --nocapture --test-threads=1 test_ordered_channel
