name: Check Markdown links

on:
  schedule:
    - cron: '0 0 * * *'

  workflow_dispatch:

jobs:
  md-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.9.3
        with:
          args: --verbose --no-progress --max-concurrency 16 './**/*.md'
          token: ${{ secrets.GITHUB_TOKEN }}
