name: Publish (dry-run)

on:
  push:
    branches:
      - 'release/*'

jobs:
  publish_dry_run:
    name: Publish (dry-run)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: katyo/publish-crates@v2
        with:
          dry-run: true

